onnx==1.15.0
ultralytics==8.0.237
boto3==1.34.14
langchain==0.1.9
langchain-community==0.0.29
onnxruntime==1.16.3
openai==1.13.3
pillow==10.2.0
transformers==4.36.2
pyOpenSSL==24.1.0
grpcio==1.62.1
sentence-transformers==2.2.2