*.pyc
*-checkpoint.py
*-checkpoint.ipynb
*-checkpoint.pipeline
*-checkpoint.md
notebooks/object-detection-example/*.onnx
notebooks/object-detection-example/model-training/data
notebooks/object-detection-example/model-training/runs
