ipykernel==6.25.2
ipython==8.12.3
ipython-genutils==0.2.0
jinja2==3.1.6
jupyter-client==7.4.9
jupyter-core==5.8.1
MarkupSafe==2.1.1
minio==7.1.15
nbclient==0.6.3
nbconvert==7.1.0
nbformat==5.4.0
papermill==2.6.0
pyzmq==26.4.0
prompt-toolkit==3.0.43
requests==2.32.4
tornado==6.5.1
traitlets==5.10.0
urllib3==2.5.0