boto3==1.28.53
onnx==1.14.1
onnxruntime==1.16.3
nltk==3.8.1
pandas==2.1.1
pyodbc==4.0.39
numpy==1.24.4
openpyxl==3.1.2
scikit-learn==1.3.1
flask==3.0.0
flask_restful==0.3.10
cerberus==1.3.5
sentence-transformers==2.2.2
xlsxwriter==3.1.9
optimum[onnxruntime]==1.15.0
transformers==4.35.2
evaluate==0.4.1
mkl-include==2024.0.0
mkl==2024.0.0