[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = true

[dev-packages]

[packages]
# Base packages
wheel = "~=0.43.0"
setuptools = "~=70.0.0"

# Datascience packages
boto3 = "~=1.34.60"
kafka-python = "~=2.0.2"
matplotlib = "~=3.8.3"
numpy = "~=1.26.4"
pandas = "~=2.2.1"
plotly = "~=5.19.0"
scikit-learn = "~=1.4.0"
scipy = "~=1.12.0"
skl2onnx = "~=1.16.0"
ipykernel = "~=6.29.3"

# Some extra usefull packages
opencensus = "~=0.11.4"
smart-open = "~=7.0.1"
virtualenv = "~=20.25.1"
py-spy = "~=0.3.14"
prometheus-client = "~=0.20.0"

[requires]
python_version = "3.11"
