elyra[kfp-tekton]==3.14.3
pandas==1.5.2
scikit-learn==1.2.0
boto3==1.24.59
numpy==1.23.5
scipy==1.9.3
matplotlib==3.6.2
lightgbm==3.3.5

jupyter-resource-usage==0.7.1
jupyterlab-s3-browser==0.12.0
jupyterlab-widgets==3.0.7
jupyterlab-lsp==4.2.0
jupyter-bokeh==3.0.7
plotly==5.15.0
